@font-face {
    font-family: "Lato";
    src: url("../fonts/lato-regular.woff2") format("woff2"),
        url("../fonts/lato-regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/lato-italic.woff2") format("woff2"),
        url("../fonts/lato-italic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/lato-bold.woff2") format("woff2"),
        url("../fonts/lato-bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}
