body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-style: normal;
    font-weight: 400;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.container {
    // width: 72%;
    // max-width: 1300px;
    max-width: 1140px;
    margin: 0 auto;
}

@media (max-width: $desktop-width) {
    .container {
        width: 92%;
    }
}