$black-bkg: #222222;
$pink-bkg: #F1E4E6;
$pink-color: #F18B99;
$sales-bkg: #4e4544;
$subcsribe-bkg: #F2F2F2;
$icon-white: #E8E8E8;
$text-gray: #5D5D5D;

$desktop-width: 1599px; 
$tablet-mid-width: 1000px;
$tablet-width: 767px;
