.brand {
    display: flex;

    &__img {
        width: 50%;
        height: 765px;
    }

    &__title-wrp {
        flex-grow: 1;
        background-color: $pink-bkg;
        padding: 0 0 0 92px;
        display: flex;
        align-items: center;
    }

    &__title {
        @include font(48px, 50px, 900);
        text-transform: uppercase;

        // ::before {
        //     background-color: green;
        // }

        // &:hover::before {
        // }

        // &:hover {
        //     &::before {}
        // }
    }

    &__title-lower {
        @include font(32px, 38px, 700);
        display: block;
    }

    &__title-pink {
        color: $pink-color;
    }
}

@media (max-width: $desktop-width) {
    .brand {
        &__img {
            height: 100%;
        }

        &__title-wrp {
            padding: 0 0 0 68px;
        }

        &__title {
            @include font(44px, 52px, 900);
        }

        &__title-lower {
            @include font(24px, 29px, 700);
        }
    }
}

@media (max-width: $tablet-mid-width) {
    .brand {
        &__img {
            height: 370px;
        }
    }
}

@media (max-width: $tablet-width) {
    .brand {
        &__img {
            display: none;
        }

        &__title-wrp {
            padding: 0 0 0 83px;
            min-height: 363px;
        }

        &__title {
            @include font(38px, 45px, 900);
        }

        &__title-lower {
            @include font(20px, 24px, 700);
        }
    }
}